extends layout

block content
  h1.text-center #{article.title}
  .jumbotron

    p.text-center this Article is published by #{article.author} in #{category.title}
    p.text-center
      strong
        | #{article.article_body}
