doctype html
html
  header
    title #{title}
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/style.css")
  body
    .container
      block content

    footer
        p Copyrights&copy 2018


    script(src='../js/jquery-3-3-1.js')
    script(src='../js/delete.js')
